VITE_BACKEND_URL=http://localhost:8000

# Lisää nämä vain, jos Home Assistant käytössä
VITE_HA_ACCESS_TOKEN=your_ha_access_token_here
VITE_HA_WS_API_URL=ws://localhost:8123/api/websocket
VITE_HA_URL=http://localhost:8123
VITE_LISTENING_ENTITY_ID=input_boolean.toggle_listening
VITE_LANGUAGE_ENTITY_ID=input_select.language_select